.header {
  float: left;
  width: 100%;
  padding: 30px;
}
.headerinner{
  background: #ffffff;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 15px;
}
.logo{
  display: flex;
  align-items: center;
}
.logo > span{
  color: #F48037;
  font-weight: 600;
}