.home {
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: auto;
}
.home h1{
    background: #fff;
    font-weight: 700;
    padding: 30px;
    color: #F48037;
}
.bg{
    position: relative;
}