.tourcard {
    background: #fff;
    padding: 15px;
}
.tourtitle {
    font-weight: 700;
    font-size: 20px;
    color: #F48037;
    text-transform: capitalize;
    padding: 0 0 10px;
}
.description{
    padding: 0 0 10px;
}
.map{
    padding:0 0 10px;
    display: block;
}
.img{
    padding: 0 0 10px;
}
.pricedetail{
    display: flex;
    justify-content: space-between;
}
.price{
    font-weight: 600;
}
.price > span{
    font-weight: 400;
    font-size: 14px;
} 
.titlesearch {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
  }
  .titlesearch h1{
    margin: 0;
  }
  .searchbar{
    display: flex;
  }
  form.searchbar input {
    border: none;
    width: auto;
    padding: 10px;
    height: auto;
  }
.tourlist .tours{
    margin-bottom: 20px;
}